<!-- {{searchTicket.value | json}} -->

<!-- the "Ticket list" screen -->
<div class="container-fluid">

  <!-- title -->
  <div>
    <h2 style="text-align: center">Ticket list</h2>
    <hr width="100%">
  </div>

  <!-- search -->
  <div class="container-fluid">

    <!-- Search Form -->
    <form [formGroup]="searchTicket" (ngSubmit)="ngOnInit()">

      <!-- the "search form"-->
      <div class="search row d-flex justify-content-md-end mb-4">

        <!-- SearchTerm -->

        <!-- search for:  -->
        <!--  - if role is "customer" then search for: ticketid, subject, content -->
        <!--  - if role is "supporter" or "admin" then search for: ticketid, subject, creator phone, creator email, content -->
        <div class="col-md-4 form-group" style="text-align: center">

          <!-- label -->
          <label for="searchTerm">Search term</label>

          <!-- textbox -->
          <input id="searchTerm" class="form-control" type="search" formControlName="searchTerm"
            [placeholder]="placeholders.get('searchTerm')" [tooltip]="tooltips.get('searchTerm')" theme="light"
            placement="bottom">
        </div>

        <!-- fromDate -->
        <div class="col-md-2 form-group" style="text-align: center">

          <!-- label -->
          <label for="fromDate">From date</label>

          <!-- date -->
          <!-- default value = the first day of current year(ex: 2023-01-01) -->
          <input id="fromDate" class="form-control" type="date" formControlName="fromDate"
            [tooltip]="tooltips.get('fromDate')" theme="light" placement="top">
        </div>

        <!-- toDate -->
        <div class="col-md-2 form-group" style="text-align: center">

          <!-- label -->
          <label for="toDate">To date</label>

          <!-- date. -->
          <!-- default value = current date(ex: 2023-03-25) -->
          <input id="toDate" class="form-control" type="date" formControlName="toDate"
            [tooltip]="tooltips.get('toDate')" theme="light" placement="top">
        </div>

        <!-- category -->
        <div class="col-md-2 form-group" style="text-align: center">

          <!-- label -->
          <label for="categoryid">Category</label>

          <!-- dropdown -->
          <select id="categoryid" class="form-control" formControlName="categoryid"
            [tooltip]="tooltips.get('categoryid')" theme="light" placement="top">
            <!-- default value = 0(All)(is set in the typescript code) -->
            <option *ngFor="let e of categories" [value]="e.id">
              {{e.description}}</option>
          </select>
        </div>

        <!-- priority -->
        <div class="col-md-2 form-group" style="text-align: center">

          <!-- label -->
          <label for="priorityid">Priority</label>

          <!-- dropdown -->
          <select id="priorityid" class="form-control" formControlName="priorityid"
            [tooltip]="tooltips.get('priorityid')" theme="light" placement="top">
            <!-- default value = 0(All)(is set in the typescript code) -->
            <option *ngFor="let e of priorities" [value]="e.id">
              {{e.description}}</option>
          </select>
        </div>

        <!-- creator -->

        <!-- if role is ("supporter" or "admin") then display it  -->
        <!-- else(role = "customer") hide it  -->
        <div class="col-md-2 form-group" style="text-align: center"
          *ngIf="(loggedInRole === 'ROLE_SUPPORTER' || loggedInRole === 'ROLE_ADMIN')">

          <!-- label -->
          <label for="creatorid">Creator</label>

          <!-- dropdown -->
          <select id="creatorid" class="form-control" formControlName="creatorid" [tooltip]="tooltips.get('creatorid')"
            theme="light" placement="top">
            <!-- default value = 0(All)(is set in the typescript code) -->
            <option *ngFor="let e of creators" [value]="e.id">
              {{e.description}}</option>
          </select>
        </div>

        <!-- team -->

        <!--  if role is "Customer" the the "Team" field occupies 3 columns -->
        <!--  else if role is "Supporter" or "Admin" the the "Team" field occupies 2 columns -->
        <div [ngClass]="(loggedInRole === 'ROLE_CUSTOMER')? 'col-md-3 form-group' : 'col-md-2 form-group'"
          style="text-align: center">

          <!-- label -->
          <label for="teamid">Team</label>

          <!-- dropdown -->
          <select id="teamid" class="form-control" formControlName="teamid" [tooltip]="tooltips.get('teamid')"
            theme="light" placement="top">
            <!-- default value = 0(All)(is set in the typescript code) -->
            <option *ngFor="let e of teams" [value]="e.id">
              {{e.description}}</option>
          </select>
        </div>

        <!-- Assignee -->

        <!--  if role is "Customer" the the "Assignee" field occupies 3 columns -->
        <!--  else if role is "Supporter" or "Admin" the the "Assignee" field occupies 2 columns -->
        <div [ngClass]="(loggedInRole === 'ROLE_CUSTOMER')? 'col-md-3 form-group' : 'col-md-2 form-group'"
          style="text-align: center">

          <!-- label -->
          <label for="assigneeid">Assignee</label>

          <!-- dropdown -->
          <select id="assigneeid" class="form-control" formControlName="assigneeid"
            [tooltip]="tooltips.get('assigneeid')" theme="light" placement="top">
            <!-- default value = 0(All)(is set in the typescript code) -->
            <option *ngFor="let e of assignees" [value]="e.id">
              {{e.description}}</option>
          </select>
        </div>

        <!-- SLA(service level agreement): ontime or late -->
        <div class="col-md-2 form-group" style="text-align: center">

          <!-- label -->
          <label for="sla">SLA</label>

          <!-- dropdown -->
          <select id="sla" class="form-control" formControlName="sla" [tooltip]="tooltips.get('sla')" theme="light"
            placement="top">
            <!-- check if a ticket is on time or late. -->
            <!-- default value = ''(All)(is set in the typescript code) -->
            <option value="">All</option>
            <option value="Ontime">On time</option>
            <option value="Late">Late</option>
          </select>
        </div>

        <!-- ticket status -->
        <div class="col-md-2 form-group" style="text-align: center">

          <!-- label -->
          <label for="ticketStatusid">Status</label>

          <!-- dropdown -->
          <select id="ticketStatusid" class="form-control" formControlName="ticketStatusid"
            [tooltip]="tooltips.get('ticketStatusid')" theme="light" placement="top">
            <!-- default value = 0(All)(is set in the typescript code) -->
            <option *ngFor="let e of allTicketStatus" [value]="e.id">
              {{e.description}}</option>
          </select>
        </div>

        <!-- the "Search" button -->
        <div class="col-md-2">
          <!-- break a line(insert a line break(carriage-return)) -->
          <br>
          <!-- "Search button" -->
          <!-- mt-md-2: align the "Search" button with other controls in horizontal -->
          <button id="searchButton" class="btn btn-primary mt-md-2" style="width: 100%"
            [tooltip]="tooltips.get('searchButton')" theme="light" placement="bottom">
            <i class="fa fa-search"></i>
            Search
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- the "Create ticket" button, the "Extract excel" button and "There are x tickets" message -->
  <div class="container-fluid">

    <div class="d-flex">

      <!-- mr-auto: push the "There are x tickets" to the right-end -->
      <div class="mr-auto">

        <!-- the "Create ticket" button. -->
        <!-- when user clicks on the "Create ticket" button -->
        <button class="btn btn-primary mr-1" routerLink="/ticket-create" [tooltip]="tooltips.get('createTicket')"
          theme="light" placement="bottom"><i class="fa fa-plus"></i>
          Create ticket
        </button>

        <!-- the "Extract excel" button. -->
        <!-- when user clicks on the "Extract excel" button -->
        <button class="btn btn-primary" routerLink="/extract-excel" [tooltip]="tooltips.get('extractExcel')"
          theme="light" placement="bottom"><i class="fa fa-download"></i>
          Extract excel
        </button>

      </div>

      <!-- display the number of tickets found. -->
      <div tooltip="Number of tickets found" theme="light" placement="left">
        {{this.displayTotalOfElements(totalOfTickets, "ticket", "tickets")}}</div>

    </div>
  </div>

  <!-- table -->
  <div class="container-fluid scroll-x">

    <!-- table -->
    <!-- <table class="table table-hover table-striped table-bordered text-nowrap text-truncate"> -->
    <table class="table table-hover table-striped table-bordered text-nowrap">
      <!-- table header -->
      <thead>
        <tr class="bg-table-header">

          <!-- Order -->
          <!-- scope="col": specifies that the cell is a header for a column -->
          <th scope="col" tooltip="Order" theme="light" placement="bottom">
            Ord
          </th>

          <!-- ticket id -->
          <th scope="col" tooltip="Ticket ID" theme="light" placement="bottom">ID
          </th>

          <!-- subject -->
          <th scope="col" tooltip="Ticket subject" theme="light" placement="bottom">
            Subject</th>

          <!-- creator name. -->
          <!-- if role is 'supporter' or 'admin' then display 'Creator name' -->
          <th scope="col" tooltip="Creator name.<br>(Person created the ticket)" theme="light" placement="bottom"
            *ngIf="(loggedInRole === 'ROLE_SUPPORTER' || loggedInRole === 'ROLE_ADMIN')">Creator name
          </th>

          <!-- assignee name -->
          <th scope="col"
            tooltip="- The person is assigned to resolve the ticket.<br>- Blank means ticket has not yet assigned to any supporter"
            theme="light" placement="bottom">
            Assignee name</th>

          <!-- create time -->
          <th scope="col" tooltip="Ticket creation time" theme="light" placement="bottom">
            Create time</th>

          <!-- ticket status -->
          <th scope="col" tooltip="Ticket status" theme="light" placement="bottom">
            Status</th>

          <!-- Actions: Edit ticket, Add comment. -->
          <th scope="col" tooltip="Actions" theme="light" placement="bottom">
            Actions</th>

          <!-- SLA -->
          <th scope="col"
            tooltip="- SLA(service level agreement).<br>- On time: ticket is on time.<br>- Late: ticket is late."
            theme="light" placement="bottom">SLA</th>

          <!-- last update date time -->
          <th scope="col"
            tooltip="- Last update date time.<br>- Last update date time the ticket is updated its status."
            theme="light" placement="bottom">Last update datetime</th>

          <!-- Spend hours -->
          <th scope="col" tooltip="- Spent hours in hh:mm:ss format" theme="light" placement="bottom">Spend hours</th>

          <!-- creator phone -->
          <!-- if role is 'supporter' or 'admin' then display 'Creator phone' -->
          <th scope="col" tooltip="Ticket creator's phone number" theme="light" placement="bottom"
            *ngIf="(loggedInRole === 'ROLE_SUPPORTER' || loggedInRole === 'ROLE_ADMIN')">Creator
            phone</th>

          <!-- creator email -->
          <!-- if role is 'supporter' or 'admin' then display 'Creator email' -->
          <th scope="col" tooltip="Ticket creator's email" theme="light" placement="bottom"
            *ngIf="(loggedInRole === 'ROLE_SUPPORTER' || loggedInRole === 'ROLE_ADMIN')">Creator
            email</th>

          <!-- team name -->
          <th scope="col" tooltip="Ticket is created to the team" theme="light" placement="bottom">
            Team name</th>

          <!-- category -->
          <th scope="col" tooltip="Category" theme="light" placement="bottom">
            Category</th>

          <!-- priority -->
          <th scope="col" tooltip="Priority" theme="light" placement="bottom">
            Priority</th>

        </tr>
      </thead>

      <tbody style="text-align: center">

        <tr *ngFor="let ticket of tickets, index as i">

          <!-- column: order(line number) -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td style="text-align: right" class="pointer-link" (click)="viewTicket(ticket.ticketid)">
            {{indexBasedPage(pageSize, currentPage, i)}}</td>

          <!-- column: Ticket ID -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td style="text-align: right" class="pointer-link" (click)="viewTicket(ticket.ticketid)">{{ticket.ticketid}}
          </td>

          <!-- column: Subject -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td style="text-align: left" class="pointer-link" (click)="viewTicket(ticket.ticketid)"
            [tooltip]="ticket.content" theme="light" placement="bottom">{{ticket.subject}}
          </td>

          <!-- column: Creator Name. -->
          <!-- if role is 'supporter' or 'admin' then display 'Creator name'. -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)"
            *ngIf="(loggedInRole === 'ROLE_SUPPORTER' || loggedInRole === 'ROLE_ADMIN')">{{ticket.creatorName}}</td>

          <!-- column: Assignee name -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)">
            {{ticket.assigneeName}}</td>

          <!-- column: Create time -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <!-- HH:mm:ss : in 24 hours format -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)">
            {{ticket.createDatetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>

          <!-- column: Status -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)">{{ticket.ticketStatusName}}</td>

          <!-- the "Edit" & "Add comment" button -->
          <td class="text-center">
            <!-- only display the "Edit" button if user role is "supporter" or "admin". -->
            <!-- if ticketStatusid is '4'(Closed) or '5'(Cancel) then disables these 2 buttons -->
            <a [ngClass]="(ticket.ticketStatusid===4 || ticket.ticketStatusid===5)? 'disabled-link btn btn-secondary mr-1' : 'btn btn-primary mr-1'"
              [routerLink]="['/ticket-edit', ticket.ticketid]" [tooltip]="'Edit team'" theme="light" placement="bottom"
              *ngIf="(loggedInRole === 'ROLE_SUPPORTER' || loggedInRole === 'ROLE_ADMIN')"><i
                class="fa fa-edit"></i></a>

            <!-- all authenticated users can see the "Add comment" button. -->
            <!-- if ticketStatusid is '4'(Closed) or '5'(Cancel) then disables these 2 buttons -->
            <a [ngClass]="(ticket.ticketStatusid===4 || ticket.ticketStatusid===5)? 'disabled-link btn btn-secondary mr-1' : 'btn btn-info mr-1'"
              [routerLink]="['/comment-add', ticket.ticketid]" tooltip="Add comment" theme="light" placement="bottom"><i
                class="fa fa-plus"></i></a>
          </td>

          <!-- column: SLA -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)"
            [tooltip]="tooltipSlaDetail(ticket.ticketStatusid,ticket.createDatetime,ticket.lastUpdateDatetime,ticket.currentDatetime,ticket.resolveIn,ticket.spendHourHhmmss,ticket.sla)"
            theme="light">
            {{ticket.sla}}</td>

          <!-- column: Last update datetime -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)">
            {{ticket.lastUpdateDatetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>

          <!-- column: spend hours in format 'HH:mm:ss' -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)">{{ticket.spendHourHhmmss}}</td>

          <!-- column: Creator phone. -->
          <!-- if role is 'supporter' or 'admin' then display 'Creator phone'. -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)"
            *ngIf="(loggedInRole === 'ROLE_SUPPORTER' || loggedInRole === 'ROLE_ADMIN')">{{ticket.creatorPhone}}</td>

          <!-- column: Creator email. -->
          <!-- if role is 'supporter' or 'admin' then display 'Creator email'. -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)"
            *ngIf="(loggedInRole === 'ROLE_SUPPORTER' || loggedInRole === 'ROLE_ADMIN')">{{ticket.creatorEmail}}</td>

          <!-- column: Team name -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)">{{ticket.teamName}}</td>

          <!-- column: category -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)">{{ticket.categoryName}}</td>

          <!-- column: priority -->
          <!-- navigate to the "/ticket-view/{ticketid}" when user clicks on the table(except the column "Action") -->
          <td class="pointer-link" (click)="viewTicket(ticket.ticketid)">{{ticket.priorityName}}</td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- pagination -->

  <!-- only display the pagination when totalPages > 0 -->
  <div class="container mt-3" *ngIf="totalPages > 0">
    <nav aria-label="Page navigation">
      <ul class="pagination d-flex justify-content-md-end justify-content-center">

        <!-- move to the "first page" -->
        <li class="page-item"><button class="page-link" (click)="moveFirst()" [disabled]="currentPage==1"
            [tooltip]="tooltipFirstPage" theme="light" placement="bottom">First</button>
        </li>

        <!-- move to the "previous page" -->
        <li class="page-item"><button class="page-link" (click)="movePrevious()" [disabled]="currentPage==1"
            [tooltip]="tooltipPreviousPage" theme="light" placement="bottom">Previous</button></li>

        <!--  -->
        <li class="page-item col-md-1 col-2 px-0">
          <div class="input-group">
            <!-- textbox to input the Page number -->
            <!-- rounded-0: have no round at corners -->
            <input type="number" min="1" [max]="totalPages" class="form-control rounded-0"
              aria-describedby="basic-addon1" [value]="currentPage"
              (change)="changePageNumber($any($event.target).value)" [tooltip]="tooltipCurrentPage" theme="light"
              placement="bottom">
            <!-- total pages -->
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" [tooltip]="tooltipTotalPages" theme="light"
                placement="bottom">/{{totalPages}}</span>
            </div>
          </div>
        </li>

        <!-- the "Go" button -->
        <!-- rounded-0: have no round at corners -->
        <li class="page-item">
          <button class="btn btn-primary rounded-0" (click)="goPage()" onmouseover="this.style.cursor='pointer'"
            [tooltip]="tooltipGoPage" theme="light" placement="bottom">Go</button>
        </li>

        <!-- the "Next" button -->
        <li class="page-item"><button class="page-link" (click)="moveNext()" [disabled]="currentPage==totalPages"
            [tooltip]="tooltipNextPage" theme="light" placement="bottom">Next</button></li>

        <!-- the "Last" button -->
        <li class="page-item"><button class="page-link" (click)="moveLast()" [disabled]="currentPage==totalPages"
            [tooltip]="tooltipLastPage" theme="light" placement="bottom">Last</button></li>

      </ul>
    </nav>
  </div>
</div>