<div class="text-center">
    <h3>Create user</h3>
    <hr width="1080px">
</div>

<!-- {{userForm.value | json}} -->

<div class="container">

    <!-- call createUser() when user clicks the "Save" button -->
    <form [formGroup]="userForm" (ngSubmit)="createUser()">

        <div class="row mt-5">

            <!-- the "Left" column -->
            <div class="col-md-6">
                <div class="container">

                    <!-- Email -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="email">Email<small class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="email" formControlName="email"
                                placeholder="Ex: abc@gmail.com" id="email" tooltip="Email" theme="light"
                                placement="top">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.email">
                                <div *ngIf="userForm.get('email').hasError(e.type) && 
                                    (userForm.get('email').dirty || userForm.get('email').touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- First name -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="firstName">First name<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="firstName" placeholder="First name"
                                id="firstName" tooltip="First name" theme="light" placement="top">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.firstName">
                                <div
                                    *ngIf="userForm.get('firstName').hasError(e.type) && (userForm.get('firstName').dirty || userForm.get('firstName').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Last name -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="lastName">Last name<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="lastName" placeholder="Last name"
                                id="lastName" tooltip="Last name" theme="light" placement="top">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.lastName">
                                <div
                                    *ngIf="userForm.get('lastName').hasError(e.type) && (userForm.get('lastName').dirty || userForm.get('lastName').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Phone -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="phone">Phone<small class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="phone"
                                placeholder="ex: 0986111222(10 digits)" id="phone" tooltip="Phone number(10 digits)"
                                theme="light" placement="top">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.phone">
                                <div
                                    *ngIf="userForm.get('phone').hasError(e.type) && (userForm.get('phone').dirty || userForm.get('phone').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- the "Right" column -->
            <div class="col-md-6">
                <div class="container">

                    <!-- Address -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="address">Address</label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="address" id="address"
                                placeholder="Address" tooltip="Address" theme="light" placement="top">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.address">
                                <div
                                    *ngIf="userForm.get('address').hasError(e.type) && (userForm.get('address').dirty || userForm.get('address').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Role -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="role">Role<small class="text-danger">*</small></label>
                        </div>
                        <!-- dropdown -->
                        <div class="col-8">
                            <!-- default value = "ROLE_CUSTOMER"(is set in the typecript code) -->
                            <select id="role" class="form-control" formControlName="role" placeholder="Role"
                                tooltip="User role" theme="light" placement="top">
                                <option value="ROLE_CUSTOMER">ROLE_CUSTOMER</option>
                                <option value="ROLE_SUPPORTER">ROLE_SUPPORTER</option>
                                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                            </select>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="status">Status<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- dropdown -->
                        <div class="col-8">
                            <!-- default value = "Active"(is set in the typescript code) -->
                            <select id="status" class="form-control" formControlName="status" placeholder="Status"
                                tooltip="User status" theme="light" placement="top">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Save" button -->
                <!-- if the form values are invalid then disable the "Save" button -->
                <button type="submit" [disabled]="userForm.invalid" style="width: 150px" class="btn btn-primary mr-2"
                    tooltip="Save user" theme="light" placement="bottom">

                    <!-- display the spinner icon when press the "Save" button -->
                    <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>
                    <!-- Change label button "Save" to "Saving.." -->
                    <span *ngIf="showSpinner">Saving...</span>
                    <!-- after save the user then re-changes button name to "Save" -->
                    <span *ngIf="!showSpinner">Save</span>

                </button>

                <!-- the "Cancel" button -->
                <!-- re-direct to the "user-list" page -->
                <button class="btn btn-dark" routerLink="/user-list" style="width: 150px"
                    tooltip="Cancel and go back to the 'User list' screen" theme="light"
                    placement="bottom">Cancel</button>
            </div>
        </div>
    </form>
</div>