<div class="text-center">
    <!-- title -->
    <h3>View priority</h3>
    <hr width="510px">
</div>

<!-- {{priorityForm.value | json}} -->

<div class="container">

    <form [formGroup]="priorityForm">
        <div class=" row mt-5">

            <!-- move column to central -->
            <div class="col-lg-6 offset-lg-3">
                <div class="container">

                    <!-- id -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="id">ID<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="id" id="id" readonly>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="name">Name<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="name" id="name" readonly>
                        </div>
                    </div>

                    <!-- Resolve In -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="resolveIn">Resolve in(hours)<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="number" formControlName="resolveIn" id="resolveIn"
                            title="=0 means do not care about the resolve time. It means all tickets are on time." readonly>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="status">Status<small>*</small></label>
                        </div>

                        <!-- dropdown -->
                        <div class="col-8">
                            <select id="status" class="form-control" formControlName="status">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Close" button -->
                <!-- re-direct to the "priority-list" page -->
                <button class="btn btn-primary" routerLink="/priority-list" style="width: 150px">Close</button>
            </div>
        </div>
    </form>
</div>