<div class="container">

    <!-- {{resetPasswordForm.value | json}} -->

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">

                    <!-- title: Reset password -->
                    <h5 class="card-title">Reset password</h5>

                    <!-- the "resetPasswordForm" -->
                    <form class="form-signin" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

                        <!-- Email -->
                        <div class="form-label-group">

                            <!-- label -->
                            <label for="email">Email</label>
                            <!-- textbox -->
                            <!-- <input autofocus formControlName="email" type="email" id="email" class="form-control"
                                placeholder="Email"> -->
                            <input formControlName="email" type="email" id="email" class="form-control"
                                placeholder="Email" title="Email">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.email">
                                <div *ngIf="resetPasswordForm.get('email').hasError(e.type) && 
                                    (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched)">
                                    {{e.message}}
                                </div>
                            </div>
                        </div>

                        <!-- The "Reset password" button -->
                        <button class="btn btn-lg btn-primary" type="submit"
                            [disabled]="resetPasswordForm.invalid">
                        <!-- <button class="btn btn-lg btn-primary" type="submit"> -->

                            <!-- display the spinner icon when press the "Reset password" button -->
                            <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>

                            <!-- Change label of button from "Reset password" to "Reseting password..." -->
                            <span *ngIf="showSpinner">Reseting password...</span>

                            <!-- after finish reset password then re-changes button name to "Reset password" -->
                            <span *ngIf="!showSpinner">Reset password</span>
                        </button>

                        <br><br>

                        <!-- Login link -->
                        <div>
                            <p><a routerLink="/login">Login?</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>