<div class="text-center">
    <h3>Add comment</h3>
    <hr width="100%">
</div>

{{commentForm.value | json}}

<div class="container-fluid">

    <!-- ticket form -->
    <form [formGroup]="commentForm" (ngSubmit)="addComment()">

        <div class="row">

            <!-- the "Left" column -->
            <div class="col-md-6">
                <div class="container-fluid">

                    <!-- Ticket id -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="ticketid">Ticket ID<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="ticketid" id="ticketid"
                                tooltip="Ticket ID" theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- Creator(id + fullname) -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="creatorName">Creator<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="creator" id="creator"
                                tooltip="Creator id + creator full name" theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- Creator phone -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="creatorPhone">Creator phone<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="creatorPhone" id="creatorPhone"
                                tooltip="Creator phone number" theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- Creator email -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="creatorEmail">Creator email<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="creatorEmail" id="creatorEmail"
                                tooltip="Creator email" theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- Subject -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="subject">Subject*</label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="subject" id="subject"
                                tooltip="Subject" theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- ticket Content -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="content">Content<small>*</small></label>
                        </div>
                        <!-- rich text editor -->
                        <div class="col-9">

                            <div class="NgxEditor__Wrapper ngxEditor" tooltip="Ticket content" theme="light"
                                placement="top">
                                <!-- editor menu -->
                                <ngx-editor-menu [editor]="ticketEditor" [toolbar]="toolbar" style="color: darkgray;"
                                    [disabled]="true">
                                </ngx-editor-menu>
                                <!-- editor -->
                                <ngx-editor [editor]="ticketEditor" formControlName="content"
                                    [placeholder]="'Ticket body'">
                                </ngx-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- the "Right" column -->
            <div class="col-md-6">
                <div class="container-fluid">

                    <!-- Team = team id + team name + assignment method -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="team">Team<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="team" id="team"
                                tooltip="Team id + team name + assignment method" theme="light" placement="top"
                                readonly>
                        </div>
                    </div>

                    <!-- Create datetime -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="createDatetime">Created time<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="createDatetime" id="createDatetime"
                                tooltip="- Ticket was created at this date time.<br>- Format: yyyy-mm-dd hh:mm:ss"
                                theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- Last update datetime -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="lastUpdateDatetime">Updated time<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="lastUpdateDatetime"
                                id="lastUpdateDatetime"
                                tooltip="- Ticket was last updated at this date time.<br>- Format: yyyy-mm-dd hh:mm:ss"
                                theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- Last update by user -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="lastUpdateByUser">Updated by<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="lastUpdateByUser"
                                id="lastUpdateByUser"
                                tooltip="- Ticket was last updated by this user.<br>- Values include: user id + user fullname"
                                theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- Spent hours + SLA -->
                    <!-- ex: "19 hours 8 minutes ==> Ontime" -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="spentHour">Spent hours<small>*</small></label>
                        </div>

                        <!-- textbox -->

                        <!-- <div class="col-9">
                            <input class="form-control" type="text" formControlName="spentHour" id="spentHour"
                                tooltip="- Spent hours(hh:mm:ss) + SLA"
                                [tooltip]="tooltipSlaDetail(ticketEditViewResponse?.ticketStatusid,ticketEditViewResponse?.createDatetime,ticketEditViewResponse?.lastUpdateDatetime,ticketEditViewResponse?.currentDatetime,ticketEditViewResponse?.resolveIn + '',ticketEditViewResponse?.spentDayHhmm,ticketEditViewResponse?.sla)"
                                theme="light" theme="light" placement="top" readonly>
                        </div> -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="spentHour" id="spentHour"
                                tooltip="- Spent hours(days-hours-minutes) + SLA" theme="light" placement="top"
                                readonly>
                        </div>
                    </div>

                    <!-- priority -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="priorityid">Priority<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="priority" id="priority"
                                tooltip="- <b>Priority</b>.<br>- <b>Values include</b>: <i>ID + name + number of hours to resolve ticket</i>."
                                theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- category -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="categoryid">Category<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="category" id="category"
                                tooltip="- <b>Category</b>.<br>- <b>Values include</b>: <i>ID + name</i>." theme="light"
                                placement="top" readonly>
                        </div>
                    </div>

                    <!-- assignee -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="assigneeid">Assignee<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="assignee" id="assignee"
                                tooltip="- Ticket is assigned to this supporter.<br>- Values include: supporter id + supporter fullname"
                                theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- Ticket status -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="ticketStatusid">Ticket status<small>*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="ticketStatus" id="ticketStatus"
                                [tooltip]="tooltips.get('ticketStatusid')" theme="light" placement="top" readonly>
                        </div>
                    </div>

                    <!-- ticket file. -->
                    <!-- only display if there is attached ticket file -->
                    <div class="row mb-3"
                        *ngIf="ticketEditViewResponse?.customFilename != '' && ticketEditViewResponse?.customFilename != null">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="file">File</label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9"
                            tooltip="Click on <b>{{ticketEditViewResponse?.originalFilename }}</b> to download file"
                            theme="light" placement="top">
                            <!-- download file -->
                            <a (click)="downloadFile(ticketEditViewResponse?.customFilename)"
                                style="cursor: pointer;">{{ ticketEditViewResponse?.originalFilename }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons: "Submit" and "Cancel" -->
        <div class="d-flex justify-content-center mb-3">
            <div>

                <!-- the "Submit" button -->
                <!-- if "commentForm" is invalid then disabled the button "Submit" -->
                <button type="submit" [disabled]="commentForm.invalid" style="width: 150px" class="btn btn-primary mr-2"
                    tooltip="Submit comment" theme="light" placement="bottom">
                    <!-- show the spinner icon in the "Submit" button -->
                    <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>
                    <!-- Change label button "Submit" to "Submitting.." -->
                    <span *ngIf="showSpinner">Submitting...</span>
                    <!-- after submit finished then re-changes the button to "Submit"  -->
                    <span *ngIf="!showSpinner">Submit</span>
                </button>

                <!-- the "Cancel" button -->
                <!-- go back to the "ticket-list" page -->
                <button class="btn btn-dark" routerLink="/ticket-list" style="width: 150px"
                    tooltip="Cancel and go back to the 'Ticket list' screen" theme="light"
                    placement="bottom">Cancel</button>
            </div>
        </div>


        <!-- comment -->
        <div class="row">

            <!-- the "Comment" column -->
            <div class="col-md-6">

                <div class="container-fluid">

                    <!-- rich text editor -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="content">Comment<small
                                    class="text-danger">*</small></label>
                        </div>

                        <!-- editor -->
                        <div class="col-9" id="commentDescription">

                            <div class="NgxEditor__Wrapper" tooltip="Comment description" theme="light" placement="top">
                                <!-- menu -->
                                <ngx-editor-menu [editor]="commentEditor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <!-- editor -->
                                <ngx-editor [editor]="commentEditor" formControlName="commentDescription"
                                    [placeholder]="'Enter your comment here...'">
                                </ngx-editor>
                            </div>
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.commentDescription">
                                <div
                                    *ngIf="commentForm.get('commentDescription').hasError(e.type) && 
                                    (commentForm.get('commentDescription').dirty || commentForm.get('commentDescription').touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- the "Comment file" column -->
            <div class="col-md-6">

                <div class="container-fluid">

                    <!-- Choose 'Comment' file -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <!-- (max file size <=10 MB) -->
                            <label class="col-form-label" for="attachment">File(&lt;={{((maxFileSize/1024)/1024) |
                                number: '.0-2'}} MB) </label>
                        </div>

                        <!-- file browser -->
                        <div class="col-9">

                            <!-- Choose File -->
                            <input type="file" ng2FileSelect [uploader]="uploader" (change)="changeFile($event)"
                                style="width:100%" />

                            <!-- only display progress bar if (there is file to upload) and (file size is valid) and   -->
                            <!-- (progress > 0)   -->
                            <div *ngIf="commentForm.get('hasAttachedCommentFile').value && !exceedMaxFileSize &&
                        uploader.queue[lastIndex]?.progress> 0">
                                <!-- progress bar -->
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                    attr.aria-valuenow="{{ uploader.queue[lastIndex]?.progress }}" aria-valuemin="0"
                                    aria-valuemax="100"
                                    [ngStyle]="{ 'width': uploader.queue[lastIndex]?.progress + '%' }">
                                    Loaded {{ uploader.queue[lastIndex]?.progress}}%
                                </div>
                            </div>
                            <!-- error messages -->
                            <!-- if file size exceeds max allowed file size -->
                            <div class="text-danger" *ngIf="exceedMaxFileSize">
                                <small>File size is too large(={{((actualFileSize/1024)/1024) | number: '.0-2'}}
                                    MB). This file will not be uploaded to server. Please choose a file that its
                                    size &lt;= {{((maxFileSize/1024)/1024) | number: '.0-2'}} MB. </small>
                            </div>

                            <!--  -->
                            <!-- hidden fields -->
                            <!--  -->

                            <!-- these 2 fields only help to disable "Submit" button  -->
                            <!-- while the upload file is in progress(not yet completed)  -->
                            <div>
                                <!-- check whether user attachs file or not -->
                                <input type="checkbox" class="form-check-input" id="hasAttachedCommentFile"
                                    formControlName="hasAttachedCommentFile" hidden>
                                <!-- customFilename -->
                                <input class="form-control" type="text" formControlName="commentCustomFilename"
                                    id="commentCustomFilename" hidden>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- all comments -->
        <div class="container-fluid">

            <!-- show all comments by ticket id -->
            <div class="card mb-3" *ngFor="let e of commentReponses">
                <!-- commenter -->
                <div class="card-header" style="background-color: #e9ecef;">Commented by
                    <!-- commenter -->
                    <span
                        tooltip="- <b>Commenter id</b>: <i>{{e.commenterid}}</i>.<br>- <b>Commenter name</b>: <i>{{e.commenterName}}</i>.<br>- <b>Commenter phone</b>: <i>{{e.commenterPhone}}</i>.<br>- <b>Commenter email</b>: <i>{{e.commenterEmail}}</i>"
                        theme="light" placement="bottom"><b>{{e.commenter}}</b></span>

                    <!-- comment datetime -->
                    <span class="float-right" tooltip="Comment was created at this date time" theme="light"
                        placement="bottom">{{e.commentDatetime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>

                <!-- comment description -->
                <div class="card-body">
                    <p class="card-text" [innerHtml]="e.commentDescription"
                        tooltip="Comment description(comment content)" theme="light" placement="bottom"></p>
                </div>

                <!-- comment file + comment id -->
                <div class="card-footer bg-transparent">

                    <!-- download 'comment' file -->
                    <a (click)="downloadFile(e?.commentCustomFilename)" style="cursor: pointer;"
                        tooltip="Click on <b>{{ e?.originalFilename }}</b> to download file" theme="light"
                        placement="bottom">{{ e?.originalFilename }}
                    </a>
                    <span class="float-right" tooltip="Comment id" theme="light" placement="bottom">Comment id:
                        {{e.commentid}}</span>
                </div>
            </div>
        </div>
    </form> <!-- end of commentForm -->

</div>