<div class="text-center">
    <h3>Create ticket</h3>
    <hr width="100%">
</div>

<!-- {{ticketForm.value | json}} -->

<div class="container-fluid">

    <!-- call createTicket() when user clicks the "Submit" button -->
    <form [formGroup]="ticketForm" (ngSubmit)="createTicket()">

        <div class="row">

            <!-- the "Left" column -->
            <div class="col-md-6">
                <div class="container-fluid">

                    <!-- Subject -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-2">
                            <label class="col-form-label" for="subject">Subject<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="subject"
                                placeholder="Subject. Cannot be longer than 60 characters." id="subject"
                                tooltip="- Subject.<br>- Cannot be longer than 60 characters" theme="light"
                                placement="top">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.subject">
                                <div *ngIf="ticketForm.get('subject').hasError(e.type) && 
                                    (ticketForm.get('subject').dirty || ticketForm.get('subject').touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-2">
                            <label class="col-form-label" for="categoryid">Content<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- dropdown -->
                        <div class="col-10" tooltip="Ticket content" theme="light" placement="left">
                            <!-- ngx-quill -->
                            <quill-editor [modules]="modules" [placeholder]="'Ticket body'"
                                [styles]="{'height': '200px', 'width': '100%'}" formControlName="content">
                            </quill-editor>
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.content">
                                <div *ngIf="ticketForm.get('content').hasError(e.type) && 
                                    (ticketForm.get('content').dirty || ticketForm.get('content').touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- the "Right" column -->
            <div class="col-md-6">
                <div class="container-fluid">

                    <!-- Team -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="teamid">Team<small class="text-danger">*</small></label>
                        </div>
                        <!-- dropdown -->
                        <div class="col-9">
                            <select id="teamid" class="form-control" formControlName="teamid"
                                tooltip="- Team.<br>- Values include: ID + name + Assignment method.<br>- Assignment method:<br>    + Auto: system will assign ticket to supporter automatically.<br>    + Manual: Suppoter assigns ticket to assignee(supporter) manually"
                                theme="light" placement="left">
                                <option *ngFor="let e of teams" [value]="e.id">
                                    {{e.description}}</option>
                            </select>
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.teamid">
                                <div *ngIf="ticketForm.get('teamid').hasError(e.type) && 
                                    (ticketForm.get('teamid').dirty || ticketForm.get('teamid').touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="categoryid">Category<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- dropdown -->
                        <div class="col-9">
                            <select id="categoryid" class="form-control" formControlName="categoryid"
                                placeholder="Category" tooltip="- Category.<br>- Values include: ID + name."
                                theme="light" placement="top">
                                <option *ngFor="let e of categories" [value]="e.id">
                                    {{e.description}}</option>
                            </select>
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.categoryid">
                                <div *ngIf="ticketForm.get('categoryid').hasError(e.type) && 
                                    (ticketForm.get('categoryid').dirty || ticketForm.get('categoryid').touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Priority -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="priorityid">Priority<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- dropdown -->
                        <div class="col-9">
                            <select id="priorityid" class="form-control" formControlName="priorityid"
                                placeholder="Priority"
                                tooltip="- Priority.<br>- Values include: ID + name + number of hours to resolve ticket."
                                theme="light" placement="top">
                                <option *ngFor="let e of priorities" [value]="e.id">
                                    {{e.description}}</option>
                            </select>
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.priorityid">
                                <div *ngIf="ticketForm.get('priorityid').hasError(e.type) && 
                                    (ticketForm.get('priorityid').dirty || ticketForm.get('priorityid').touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- file -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <!-- (max file size <=10 MB) -->
                            <label class="col-form-label" for="attachment">File(&lt;={{((maxFileSize/1024)/1024) |
                                number: '.0-2'}} MB) </label>
                        </div>

                        <!--  -->
                        <div class="col-9">

                            <!-- Choose File -->
                            <input type="file" ng2FileSelect [uploader]="uploader" (change)="changeFile($event)"
                                style="width:100%" />
                                
                            <!-- only display progress bar if (there is file to upload) and (file size is valid) and   -->
                            <!-- file is uploading   -->

                            <!-- <div *ngIf="uploadStatus === HAS_ATTACHED_FILE && !isExceedMaxFileSize &&
                            uploader.queue[lastIndex]?.progress > 0 "> -->
                            <div *ngIf="ticketForm.get('hasAttachedFile').value && !isExceedMaxFileSize &&
                                uploader.queue[lastIndex]?.progress> 0">
                                <!-- progress bar -->
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                    attr.aria-valuenow="{{ uploader.queue[lastIndex]?.progress }}" aria-valuemin="0"
                                    aria-valuemax="100"
                                    [ngStyle]="{ 'width': uploader.queue[lastIndex]?.progress + '%' }">
                                    Uploaded {{ uploader.queue[lastIndex]?.progress}}%
                                </div>
                            </div>
                            <!-- error messages -->
                            <!-- if file size exceeds max allowed file size -->
                            <div class="text-danger" *ngIf="isExceedMaxFileSize">
                                <small>File size is too large(={{((actualFileSize/1024)/1024) | number: '.0-2'}}
                                    MB).
                                    This file will not be uploaded to server. Please choose a
                                    file has its size &lt;= {{((maxFileSize/1024)/1024) |
                                    number: '.0-2'}} MB. </small>
                            </div>

                            <!--  -->
                            <!-- hidden fields -->
                            <!--  -->

                            <!-- these 2 fields help to disable "Submit" button while the upload file is in progress(not yet completed)  -->
                            <div>
                                <!-- check whether user attachs file or not -->
                                <input type="checkbox" class="form-check-input" id="hasAttachedFile"
                                    formControlName="hasAttachedFile" hidden>
                                <!-- customFilename -->
                                <input class="form-control" type="text" formControlName="customFilename"
                                    id="customFilename" hidden>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Submit" button -->
                <!-- if the form values are invalid then disable the "Submit" button -->
                <button type="submit" [disabled]="ticketForm.invalid" style="width: 150px" class="btn btn-primary mr-2"
                    tooltip="Submit ticket" theme="light" placement="bottom">

                    <!-- display the spinner icon when press the "Submit" button -->
                    <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>
                    <!-- Change label button "Submit" to "Submiting.." -->
                    <span *ngIf="showSpinner">Submiting...</span>
                    <!-- after submit the ticket then re-changes button name to "Submit" -->
                    <span *ngIf="!showSpinner">Submit</span>

                </button>

                <!-- the "Cancel" button -->
                <!-- re-direct to the "ticket-list" page -->
                <button class="btn btn-dark" routerLink="/ticket-list" style="width: 150px"
                    tooltip="Cancel and go back to the 'Ticket list' screen" theme="light"
                    placement="bottom">Cancel</button>
            </div>
        </div>
    </form>
</div>