<div class="text-center">
    <!-- title -->
    <h3>View category</h3>
    <hr width="510px">
</div>

<!-- {{categoryForm.value | json}} -->

<div class="container">

    <form [formGroup]="categoryForm">
        <div class=" row mt-5">

            <!-- move column to central -->
            <div class="col-md-6 offset-md-3">
                <div class="container">

                    <!-- id -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="id">ID<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="id" id="id" tooltip="Identity"
                                theme="light" placement="right"  readonly>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="name">Name<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="name" id="name"
                                tooltip="Category name" theme="light" placement="right"  readonly>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="status">Status<small>*</small></label>
                        </div>

                        <!-- dropdown -->
                        <div class="col-9" tooltip="Category status" theme="light" placement="right"
                            >
                            <select id="status" class="form-control" formControlName="status">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Close" button -->
                <!-- re-direct to the "category-list" page -->
                <button class="btn btn-primary" routerLink="/category-list" style="width: 150px"
                    tooltip="Close and go back to the 'Category list' screen" theme="light" placement="right"
                    >Close</button>
            </div>
        </div>
    </form>
</div>