<div class="text-center">
    <!-- title -->
    <h3>Create team</h3>
    <hr width="890px">
</div>

<!-- {{teamForm.value | json}} -->

<div class="container">

    <!-- call the function createTeam() when user clicks on the "Save" button -->
    <form [formGroup]="teamForm" (ngSubmit)="createTeam()">
        <div class="row mt-5">

            <!-- move column to central -->
            <div class="col-md-10 offset-md-1">
                <div class="container">

                    <!-- Name -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="name">Name<small class="text-danger">*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="name" placeholder="Team name"
                                id="name" tooltip="Team name" theme="light" placement="right" >
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.name">
                                <!-- errors on the "name" field -->
                                <div *ngIf="teamForm.get('name').hasError(e.type) && 
                                    (teamForm.get('name').dirty || teamForm.get('name').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Assignment method -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="assignmentMethod">Assignment method<small
                                    class="text-danger">*</small></label>
                        </div>

                        <!-- dropdown -->
                        <div class="col-9">
                            <!-- default value = "A"(Auto)(is set in the typescript code) -->
                            <select id="assignmentMethod" class="form-control" formControlName="assignmentMethod"
                                tooltip="Assignment method. <br>- <b>Auto</b>: auto assign supporter to ticket. <br>-<b>Manual</b>: assign ticket to supporter manually"
                                theme="light" placement="right" >
                                <option value="A">Auto</option>
                                <option value="M">Manual</option>
                            </select>
                        </div>
                    </div>

                    <!-- Calendar -->
                    <!-- <div class="row mb-3"> -->

                        <!-- label -->
                        <!-- <div class="col-3">
                            <label class="col-form-label" for="calendar">Calendar<small
                                    class="text-danger">*</small></label>
                        </div> -->

                        <!-- dropdown -->
                        <!-- <div class="col-9">
                            <select id="calendarid" class="form-control" formControlName="calendarid"
                                tooltip="Calendar. <br> A team must belong to a certain calendar. <br> Values include 'id' + 'name' + 'status'"
                                theme="light" placement="right" > -->
                                <!-- get all active calendars. -->
                                <!-- assign the first value of the calendar to this calendarid field(is set in the typescript code) -->
                                <!-- <option *ngFor="let calendar of calendars" [value]="calendar.id">
                                    {{calendar.id}} - {{calendar.name}} - {{calendar.status}}</option>
                            </select> -->
                            <!-- error messages -->
                            <!-- <div class="text-danger" *ngFor="let e of errorMessages.calendarid"> -->
                                <!-- errors on the "calendarid" field -->
                                <!-- <div *ngIf="teamForm.get('calendarid').hasError(e.type) && 
                                            (teamForm.get('calendarid').dirty || teamForm.get('calendarid').touched) ">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Supporters -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="supporters">Supporters<small
                                    class="text-danger">*</small></label>
                        </div>

                        <!--  -->
                        <div class="col-9">
                            <!-- dropdown(multi selection) -->
                            <ng-multiselect-dropdown placeholder="Active supporters" [settings]="supporterSetting"
                                [data]="activeSupporters" formControlName="supporters" id="supporters"
                                tooltip="Assign active supporters to team. <br> A team must has at least 1 supporter.<br> Values includes 'id' + 'last name' + 'first name' + 'email' + 'status'"
                                theme="light" placement="right" >
                            </ng-multiselect-dropdown>
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.supporters">
                                <!-- errors on the "supporters" field -->
                                <div *ngIf="teamForm.get('supporters').hasError(e.type) && 
                                            (teamForm.get('supporters').dirty || teamForm.get('supporters').touched) ">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="status">Status<small
                                    class="text-danger">*</small></label>
                        </div>

                        <!-- dropdown -->
                        <div class="col-9">
                            <!-- default value = "Active"(is set in the typescript code) -->
                            <select id="status" class="form-control" formControlName="status" tooltip="Team status"
                                theme="light" placement="right" >
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Save" button -->
                <!-- if the form values are invalid then disable the "Save" button -->
                <button type="submit" [disabled]="teamForm.invalid" style="width: 150px" class="btn btn-primary mr-2"
                    tooltip="Save team" theme="light" placement="bottom" >

                    <!-- display the spinner icon when press the "Save" button -->
                    <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>
                    <!-- Change label button "Save" to "Saving.." -->
                    <span *ngIf="showSpinner">Saving...</span>
                    <!-- after save the team then re-changes button name to "Save" -->
                    <span *ngIf="!showSpinner">Save</span>

                </button>

                <!-- the "Cancel" button -->
                <!-- re-direct to the "team-list" page -->
                <button class="btn btn-dark" routerLink="/team-list" style="width: 150px"
                    tooltip="Cancel and go back to the 'Team list' screen" theme="light" placement="bottom"
                    >Cancel</button>
            </div>
        </div>
    </form>
</div>