<div class="text-center">
    <h3>Create calendar</h3>
    <hr width="1080px">
</div>

<!-- {{calendarForm.value | json}} -->

<div class="container">

    <!-- call createCalendar() when user clicks the "Save" button -->
    <form [formGroup]="calendarForm" (ngSubmit)="createCalendar()">

        <!-- Calendar -->
        <div class="row">

            <!-- the "Left" column -->
            <div class="col-md-9">

                <div class="container">

                    <!-- name -->
                    <div class="row">
                        <!-- label -->
                        <div class="col-2">
                            <label class="col-form-label" for="name">name<small class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="name" placeholder="Calendar name"
                                id="name" tooltip="Calendar name" theme="light" placement="bottom"
                                [autoPlacement]="true">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.name">
                                <div
                                    *ngIf="calendarForm.get('name').hasError(e.type) && (calendarForm.get('name').dirty || calendarForm.get('name').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- the "Right" column -->
            <div class="col-md-3">

                <div class="container">

                    <!-- Status -->
                    <div class="row">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="status">Status<small
                                    class="text-danger">*</small></label>
                        </div>

                        <!-- dropdown -->
                        <div class="col-9">
                            <!-- default value = "Active"(is set in the typescript code) -->
                            <select id="status" class="form-control" formControlName="status" tooltip="Team status"
                                theme="light" placement="right" [autoPlacement]="true">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr width="1080px">

        <!-- Weekdays and holidays -->
        <div class="row">

            <!-- the "Weekdays" column -->
            <div class="col-md-11">

                <div class="container">

                    <!-- weekdays -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-2">
                            <label class="col-form-label" for="weekdays">Weekdays</label>
                        </div>
                    </div>

                    <!-- weekdays -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-1">
                            <br>
                            <br>
                            <div>
                                <div>
                                    <input type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Mon
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <label class="col-form-label" for="weekdays">Start-End time 1</label>
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <label class="col-form-label" for="weekdays">Start1</label>
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <label class="col-form-label" for="weekdays">Start1</label>
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-1">
                            <div>
                                <div>
                                    <input type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Tue
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-1">
                            <div>
                                <div>
                                    <input type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Wed
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-1">
                            <div>
                                <div>
                                    <input type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Thu
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-1">
                            <div>
                                <div>
                                    <input type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Fri
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-1">
                            <div>
                                <div>
                                    <input type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Sat
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-1">
                            <div>
                                <div>
                                    <input type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Sun
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- input group -->
                            <div class="input-group-prepend">
                                <!-- dropdown: ResolveInOpt(Resolve In Operator) -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn"
                                    id="resolveIn" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                                <!-- textbox: ResolveIn -->
                                <input type="time" class="form-control rounded-0" formControlName="resolveIn2"
                                    id="resolveIn2" tooltip="Number of hours to resolve a ticket" theme="light"
                                    placement="bottom" [autoPlacement]="true">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- the "Holidays" column -->
            <div class="col-md-1">

                <div class="container">

                    <!-- Holidays -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="holidays">Holidays</label>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <hr width="1080px">

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Save" button -->
                <!-- if the form values are invalid then disable the "Save" button -->
                <button type="submit" [disabled]="calendarForm.invalid" style="width: 150px"
                    class="btn btn-primary mr-2" tooltip="Save calendar" theme="light" placement="bottom"
                    [autoPlacement]="true">

                    <!-- display the spinner icon when press the "Save" button -->
                    <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>
                    <!-- Change label button "Save" to "Saving.." -->
                    <span *ngIf="showSpinner">Saving...</span>
                    <!-- after save calendar then re-changes button name to "Save" -->
                    <span *ngIf="!showSpinner">Save</span>

                </button>

                <!-- the "Cancel" button -->
                <!-- re-direct to the "calendar-list" page -->
                <button class="btn btn-dark" routerLink="/calendar-list" style="width: 150px"
                    tooltip="Cancel and redirect to the 'Calendar list' screen" theme="light" placement="bottom"
                    [autoPlacement]="true">Cancel</button>
            </div>
        </div>
    </form>
</div>