<div class="text-center">
    <!-- title -->
    <h3>View team</h3>
    <hr width="510px">
</div>

{{teamForm.value | json}}

<div class="container">

    <form [formGroup]="teamForm">
        <div class=" row mt-5">

            <!-- move column to central -->
            <div class="col-lg-8 offset-lg-2">
                <div class="container">

                    <!-- id -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="id">ID<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="id" id="id" title="Team id" readonly>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="name">Name<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="name" id="name" title="Team name" readonly>
                        </div>
                    </div>

                    <!-- Assignment method -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="assignmentMethod">Assignment method<small>*</small></label>
                        </div>
                        <!-- dropdown -->
                        <div class="col-8">
                            <select id="assignmentMethod" class="form-control" formControlName="assignmentMethod"
                                title="Assignment method">
                                <option value="A">Auto</option>
                                <option value="M">Manual</option>
                            </select>
                        </div>
                    </div>

                    <!-- Supporters -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="supporters">Supporters<small>*</small></label>
                        </div>

                        <!-- https://github.com/NileshPatel17/ng-multiselect-dropdown -->
                        <div class="col-8" title="Active supporters">
                            <!-- dropdown(multi selection) -->
                            <ng-multiselect-dropdown placeholder="Active supporters" [settings]="supporterSetting"
                                formControlName="supporters" id="supporters" [disabled]="true">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="status">Status<small>*</small></label>
                        </div>

                        <!-- dropdown -->
                        <div class="col-8">
                            <select id="status" class="form-control" formControlName="status" title="Team status">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Close" button -->
                <!-- re-direct to the "priority-list" page -->
                <button class="btn btn-primary" routerLink="/team-list" style="width: 150px">Close</button>
            </div>
        </div>
    </form>
</div>