<div class="text-center">
    <!-- title -->
    <h3>View team</h3>
    <hr width="890px">
</div>

<!-- {{teamForm.value | json}} -->

<div class="container">

    <form [formGroup]="teamForm">
        <div class=" row mt-5">

            <!-- move column to central -->
            <div class="col-md-10 offset-md-1">
                <div class="container">

                    <!-- id -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="id">ID<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="id" id="id" tooltip="Identity"
                                theme="light" placement="right"  readonly>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="name">Name<small>*</small></label>
                        </div>

                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="name" id="name" tooltip="Team name"
                                theme="light" placement="right"  readonly>
                        </div>
                    </div>

                    <!-- Assignment method -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="assignmentMethod">Assignment
                                method<small>*</small></label>
                        </div>
                        <!-- dropdown -->
                        <div class="col-9"
                            tooltip="Assignment method. <br>- <b>Auto</b>: auto assign supporter to ticket. <br>-<b>Manual</b>: assign ticket to supporter manually"
                            theme="light" placement="right" >
                            <select id="assignmentMethod" class="form-control" formControlName="assignmentMethod">
                                <option value="A">Auto</option>
                                <option value="M">Manual</option>
                            </select>
                        </div>
                    </div>

                    <!-- Calendar -->
                    <!-- <div class="row mb-3"> -->

                        <!-- label -->
                        <!-- <div class="col-3">
                            <label class="col-form-label" for="calendar">Calendar<small
                                    class="text-danger">*</small></label>
                        </div> -->

                        <!-- dropdown -->
                        <!-- <div class="col-9"
                            tooltip="Calendar. <br> A team must belong to a certain calendar. <br> Values include 'id' + 'name' + 'status'"
                            theme="light" placement="right" >
                            <select id="calendarid" class="form-control" formControlName="calendarid">
                                <option *ngFor="let calendar of calendars" [value]="calendar.id">
                                    {{calendar.id}} - {{calendar.name}} - {{calendar.status}}</option>
                            </select>
                        </div>
                    </div> -->

                    <!-- Supporters -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="supporters">Supporters<small>*</small></label>
                        </div>

                        <!-- https://github.com/NileshPatel17/ng-multiselect-dropdown -->
                        <div class="col-9"
                            tooltip="- Assign active supporters to team.<br>- Values include 'id' + 'last name' + 'first name' + 'email' + 'status'"
                            theme="light" placement="right" >
                            <!-- dropdown(multi selection) -->
                            <ng-multiselect-dropdown placeholder="Active supporters" [settings]="supporterSetting"
                                formControlName="supporters" id="supporters" [disabled]="true">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="row mb-3">

                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="status">Status<small>*</small></label>
                        </div>

                        <!-- dropdown -->
                        <div class="col-9" tooltip="Team status" theme="light" placement="right" >
                            <select id="status" class="form-control" formControlName="status">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Close" button -->
                <!-- re-direct to the "priority-list" page -->
                <button class="btn btn-primary" routerLink="/team-list" style="width: 150px"
                    tooltip="Close and go back to the 'Team list' screen" theme="light" placement="right"
                    >Close</button>
            </div>
        </div>
    </form>
</div>