<div class="text-center">
    <!-- title -->
    <h3>Change password</h3>
    <hr width="510px">
</div>

<!-- {{changePasswordForm.value | json}} -->

<div class="container">

    <!-- call the function changePassword() when user clicks the "Save" button -->
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="row mt-5">

            <!-- move column to central -->
            <div class="col-md-6 offset-md-3">
                <div class="container">

                    <!-- Old password -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-5">
                            <label class="col-form-label" for="oldPassword">Old password<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-7">
                            <input class="form-control" type="password" formControlName="oldPassword"
                                placeholder="Old password" id="oldPassword" tooltip="Old password" theme="light"
                                placement="right" [autoPlacement]="true">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.oldPassword">
                                <div
                                    *ngIf="changePasswordForm.get('oldPassword').hasError(e.type) && 
                                    (changePasswordForm.get('oldPassword').dirty || changePasswordForm.get('oldPassword').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- new password -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-5">
                            <label class="col-form-label" for="newPassword">New password<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-7">
                            <input class="form-control" type="password" formControlName="newPassword"
                                placeholder="New password" id="newPassword" tooltip="New password" theme="light"
                                placement="right" [autoPlacement]="true">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.newPassword">
                                <!-- errors on the "newPassword" field -->
                                <div
                                    *ngIf="changePasswordForm.get('newPassword').hasError(e.type) && 
                                    (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                                <!-- errors if value of the "newPassword" is not equal to the "confirmNewPassword" -->
                                <div *ngIf="changePasswordForm.errors?.misMatch && 
                                            !(changePasswordForm.get('newPassword').hasError(e.type) && 
                                                (changePasswordForm.get('newPassword').dirty || 
                                                changePasswordForm.get('newPassword').touched))" class="text-danger">
                                    <small>New password must be equal to Confirm new password</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- "Confirm new password" -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-5">
                            <label class="col-form-label" for="confirmNewPassword">Confirm new password<small
                                    class="text-danger">*</small></label>
                        </div>
                        <!-- textbox -->
                        <div class="col-7">
                            <input class="form-control" type="password" formControlName="confirmNewPassword"
                                placeholder="Confirm new password" id="confirmNewPassword"
                                tooltip="Confirm new password" theme="light" placement="right" [autoPlacement]="true">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.confirmNewPassword">
                                <!-- errors on the "confirmNewPassword" field -->
                                <div
                                    *ngIf="changePasswordForm.get('confirmNewPassword').hasError(e.type) && 
                                    (changePasswordForm.get('confirmNewPassword').dirty || changePasswordForm.get('confirmNewPassword').touched)">
                                    <small>{{e.message}}</small>
                                </div>
                                <!-- errors if value of the "newPassword" is not equal to the "confirmNewPassword" -->
                                <div *ngIf="changePasswordForm.errors?.misMatch && 
                                                !(changePasswordForm.get('confirmNewPassword').hasError(e.type) && 
                                                    (changePasswordForm.get('confirmNewPassword').dirty || 
                                                    changePasswordForm.get('confirmNewPassword').touched))"
                                    class="text-danger">
                                    <small>New password must be equal to Confirm new password</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Save" button -->
                <!-- if the form values are invalid then disable the "Save" button -->
                <button type="submit" [disabled]="changePasswordForm.invalid" style="width: 150px"
                    class="btn btn-primary mr-2" tooltip="Save new password" theme="light" placement="bottom"
                    [autoPlacement]="true">

                    <!-- display the spinner icon when press the "Save" button -->
                    <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>
                    <!-- Change label button "Save" to "Saving.." -->
                    <span *ngIf="showSpinner">Saving...</span>
                    <!-- after save the new password then re-changes button name to "Save" -->
                    <span *ngIf="!showSpinner">Save</span>

                </button>

                <!-- the "Cancel" button -->
                <!-- re-direct to the "ticket-list" page -->
                <button class="btn btn-dark" routerLink="/ticket-list" style="width: 150px"
                    tooltip="Cancel and go back to the 'Ticket list' screen" theme="light" placement="bottom"
                    [autoPlacement]="true">Cancel</button>
            </div>
        </div>
    </form>
</div>